@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
}

select {
  border: 0;
}

/* common */
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  margin: -1px;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.wrap .contents {
  padding: 0 1em;
}

.wrap header {
  padding: 0.5em;
}

.wrap header .page_title {
  padding-bottom: 5px;
}

.contents section {
  margin-top: 40px;
}

.contents section .title {
  margin-bottom: 10px;
}

.contents .item_list > li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.contents .item_list > li a {
  display: block;
  padding: 0.5em;
}

.contents .item_list > li a:hover {
  background: skyblue;
  color: #fff;
}

header {
  margin: 1em;
}

header .btn_index {
  text-align: left;
  border: 1px solid #ccc;
  padding: 5px 10px;
}

.btn {
  display: block;
  padding: 0.5em 1em;
  background: gray;
  border: 0;
  color: #fff;
  border-radius: 16px;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  cursor: pointer;
}

#btnOpen {
  border: 0;
  background: #ccc;
  border-radius: 16px;
  padding: 0.5em 1em;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
}

dialog {
  border: none;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

dialog form {
  display: flex;
  flex-direction: column;
}

dialog form > * {
  box-sizing: border-box;
  padding: 0.5em;
}

dialog .header {
  display: flex;
}

dialog .header > .tit {
  flex: 1;
}

dialog .body {
  min-height: 150px;
}

dialog .bottom {
  display: flex;
  justify-content: end;
}

dialog button {
  appearance: none;
  border: none;
  background-color: transparent;
  font-weight: bold;
}

dialog #negative.default {
  color: red;
}

dialog #postive.default {
  color: #2264ff;
}

dialog:-internal-dialog-in-top-layer::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

/* movie */
header .logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.main {
  display: none;
}
.main.active {
  display: block;
}
.main .movie_form select {
  border-bottom: 1px solid #555;
  padding: 0.5em 0;
}
.main .top_content {
  padding: 0 10px 12px;
}
.main .top_content .movie_select_item {
  display: flex;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
.main .content_box {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
}
.main .left_content .movie_select {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}
.main .left_content .movie_info select {
  width: 100%;
}
.main .left_content .movie_item {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
}
.main .left_content .movie_item img {
  width: 20rem;
  height: auto;
  min-height: 24rem;
}
.main .right_content {
  display: none;
  margin-top: 1.5rem;
}
.main .right_content .seat_wrap {
  width: 20rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  text-align: center;
}
.main .right_content .seat_wrap .seat {
  padding: 0.5em;
  display: inline-flex;
  flex-direction: column;
}
.main .right_content .seat_wrap .seat_item {
  width: 2rem;
  height: 2rem;
  border: 1px solid #000;
  padding: 0.5em;
}
.main .right_content .seat_wrap .seat_item:disabled {
  background: #555;
}

.btn_wrap {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
.btn_wrap .btn:not(:first-child) {
  margin-left: 0.625rem;
}
.btn_wrap .btn_reserve {
  display: none;
}
.btn_wrap .btn_reserve.active {
  display: block;
}
.btn_wrap .btn_submit_wrap {
  display: none;
}
.btn_wrap .btn_submit_wrap.active {
  display: flex;
}

.layer_pop {
  position: relative;
}
.layer_pop.alert .pop_footer:before {
  display: none !important;
}
.layer_pop.alert .pop_footer .btn_wrap {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  margin-top: 0;
}
.layer_pop.alert .pop_footer .btn_wrap .btn_close {
  padding: 0;
  border: 0;
}
.layer_pop.alert .pop_footer .btn_wrap .btn_close::after {
  margin-top: 0;
  width: 1.5rem;
  height: 1.5rem;
}
.layer_pop.active .dim {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.layer_pop .modal_layer {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  background: #fff;
  padding: 0 1rem;
  min-width: 320px;
}
.layer_pop .modal_layer .pop_header {
  padding: 1.5rem 0;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
}
.layer_pop .modal_layer .pop_header .title {
  font-size: 1.5rem;
}
.layer_pop .modal_layer .pop_body {
  font-size: 1rem;
  line-height: 1.25rem;
  padding-top: 1rem;
}
.layer_pop .modal_layer .pop_body p {
  margin-bottom: 0.5rem;
}
.layer_pop .modal_layer .pop_footer {
  padding: 1.25rem 0;
}
.layer_pop .modal_layer .pop_footer:before {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background: #ccc;
}
.layer_pop .modal_layer .pop_footer .btn {
  background: #fff;
  color: #000;
  border: 1px solid gray;
}
.layer_pop .modal_layer .pop_footer .btn_close {
  position: relative;
  padding: 0 1.125rem;
}
.layer_pop .modal_layer .pop_footer .btn_close::after {
  content: "❌";
  display: block;
  width: 2.25rem;
  height: 2.25rem;
  margin-top: 0.75rem;
}

/*# sourceMappingURL=style.css.map */
