#btnOpen {
    border: 0;
    background: #ccc;
    border-radius: 16px;
    padding: 0.5em 1em;
    color: #fff;
    font-size: 16px;
    line-height: 21px;
}
dialog {
    border: none;
    padding: 0;
}
dialog form {
    display: flex;
    flex-direction: column;
}
dialog form > * {
    box-sizing: border-box;
    padding: 0.5em;
}

dialog .header {
    display: flex;
}
dialog .header > .tit {
    flex: 1;
}
dialog .body {
    min-height: 150px;
}

dialog .bottom {
    display: flex;
    justify-content: end;
}

dialog button {
    appearance: none;
    border: none;
    background-color: transparent;
    font-weight: bold;
}
dialog #negative.default {
    color: red;
}

dialog #postive.default {
    color: #2264ff;
}

dialog:-internal-dialog-in-top-layer::backdrop {
    background: rgba(0, 0, 0, 0.5);
}
